body {
  margin: 0;
  border-top: solid 2px black;
  font-family: 'Open Sans', Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', Monaco, Impact, sans-serif;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  max-width: 60em;
  min-width: 300px;
}
pre, code {
  margin: 1em;
  margin-left: 1.5em;
  background: #DDD;
  width: 40em;
  padding: 1ex;
  outline: 2px dashed #DDD;
}
header, nav {
  overflow: hidden;
}
header {
}
header p {
  padding: 1ex;
  margin-top: 0;
  clear: left;
}
header h1 {
  background: black;
  color: white;
  padding: 0.5ex;
  margin: 0.5ex;
  margin-left: 0;
  display: inline;
  float: left;
}
header h1 a {
  text-decoration: none;
  color: white;
}
header #photo {
  float: right;
  margin: 1ex;
}
header #photo small {
  display: block;
}
nav {
  background: #aaa;
  margin-top: 0.5ex;
  margin-bottom: 1ex;
}
nav a {
  text-decoration: none;
}
nav a, header a {
  color: black;
}
nav ul {
  display: inline;
  padding: 0.5ex;
}
nav li {
  font-size: 125%;
  display: inline;
  margin-left: 8%;
}
nav .muualla {
  width: 50%;
  font-size: 75%;
}

.laatikko, .kuva {
  margin-bottom: 1ex;
  padding: 1ex;
  border: 1px solid #bbb;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.laatikko h2 {
  margin-top: 0;
}
.laatikko ul {
  padding-left: 2em;
}
.laatikko li {
  list-style: square outside;
}
.laatikko li small {
  display: block;
}
#laatikot, #muualla {
  padding: 0;
  margin: 0;
}
#laatikot {
  float: left;
  width: 70%;
}
#muualla {
  background: #eee;
  float: right;
  width: 29%;
}
#muualla img {
  float:right;
  margin: 2px;
}
p {
  margin-left: 1ex;
}
h1 {
  margin-left: 0.25ex;
}
h2 {
  margin-left: 0.5ex;
}
h3 {
  margin-left: 0.75ex;
}
.clear {
  clear: both;
}
.pub_date {
  font-size: 50%;
  display: block;
}

.kuva {
  text-align: center;
}

.kuva h3 {
  display: none;
}

.kuva img {
  max-width: 95%;
  height: auto;
}
