<!-- Oikean puolen palkki -->
<div id="muualla" class="laatikko">
  <h3>Joonas muualla</h3>
  <p>
  </p>
  <ul>
    <li><a href="http://citna.yx.fi/">
          <img width="64" height="64" src="img/citna.jpg" 
               alt="Citna" />
          Citna-blogi</a>
        <small>Koiran oma blogi</small></li>
    <li><a href="https://github.com/joneskoo/">Github/joneskoo</a>
        <small>Suurin osa koodiprojekteistani on jaossa Githubissa.</small></li>
  </ul>
  <h3>Blogissa</h3>
  <ul>
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
        <span class="blog_date">({{ post.date | date:"%Y-%m-%d" }})</span></li>
    {% endfor %}
  </ul>
  <!-- Google Public Location Badge -->
  <iframe src="http://www.google.com/latitude/apps/badge/api?user=6265787788676680980&amp;type=iframe&amp;maptype=roadmap&amp;z=5" width="300" height="300" frameborder="0" style="margin: 8px;"></iframe>
  <!-- To disable location sharing, you *must* visit https://www.google.com/latitude/apps/badge and disable the Google Public Location badge. Removing this code snippet is not enough! -->
</div>
