{{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="page-content">

      <div class="wrapper">

        <div class="home">

            <h1>Sivua ei löydy</h1>

            <p>
                Hakemaasi sivua ei löytynyt. Olen ehkä kämmännyt ja poistanut
                tai siirtänyt sen. Jos kaipaat sisältöä, ota rohkeasti yhteyttä
                niin tutkin asiaa.
            </p>
            <p><strong>HTTP 404.</strong></p>
        </div>
    </div>
  </div>

  {{ partial "footer.html" . }}

  </body>
  <!-- HTTP 404 Not Found -->
</html>
